body {
	font: 14px/1.5em "宋体", arial, sans-serif;
}
ul,li {
	list-style: outside none;
}
a:hover {
	...color: #283890!important;
}
/* 通用 */
.grid1k {
	width: 1000px;
	margin: 0 auto;
}
.grid_full {
	width: 1000px; margin:0 auto;
}
.fr {
	float: right;
}
.fl {
	float: left;
}
.r5{ border-radius:5px;}
.mt30 {
	margin-top: 30px!important;
}
.mt20 {
	margin-top: 20px!important;
}
.mt10 {
	margin-top: 10px!important;
}
.mr10 {
	margin-right: 10px;
}
.color_blue {
	color: #29388c;
}
.color_333 {
	color: #333;
}
.color_666 {
	color: #666;
}
.color_999 {
	color: #999;
}
.color_orange {
	color: #e88d27;
}
.center {
	text-align: center;
}
.En-letter {
	font-family: arial,sans-serif;
}
.f11 {
	font-size: 11px;
}

